@import '_main.scss';
@import '_fonts.scss';

body {
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-image:
    linear-gradient(0deg, transparent 0%, rgba(var(--bs-body-bg-rgb), 1) 100%),
    url(../img/blurryBg.gif);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.btn:not([class*="btn-"]),
button {
  background-color: unset;
  border: unset;

  &:hover {
    background-color: rgba(var(--bs-primary-rgb), .2);
  }
}

.btn.active {
  background-color: rgba(var(--bs-primary-rgb), .4);
}

[class*="btn-outline-"] {
  background-color: rgba(var(--bs-btn-focus-shadow-rgb), .2);
  color: var(--bs-btn-color);
  border-color: var(--bs-btn-color)
}

.btn-outline {
  background-color: rgba(var(--bs-btn-focus-shadow-rgb), .2);
  color: var(--bs-btn-bg);
  border-color: var(--bs-btn-bg);
}

.no-underline {
  text-decoration: none !important;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.router-link {
  color: var(--bs-secondary);
  font-weight: bold;

  &::after {
    opacity: 0;
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: linear-gradient(135deg, var(--bs-normal-x) 0%, var(--bs-normal) 40%, var(--bs-normal-z) 70%, var(--bs-normal-y) 100%);
  }
}

.router-link-active {
  color: var(--bs-light);
  position: relative;

  &::after {
    opacity: 1;
    transition: opacity .2s ease;
  }
}


a {
  text-decoration: none;
}

.glass-pane {
  background-color: rgba(var(--bs-body-bg-rgb), .2);
  box-shadow: inset 0px 2px 4px rgba(var(--bs-light-rgb), .1), inset 0px -2px 4px rgba(var(--bs-dark-rgb), .1);
  position: relative;

  &::before {
    backdrop-filter: blur(10px);
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    filter: url(#glass-distortion);
  }
}

.glass-pane.border {
  border-top: 1px outset rgba(var(--bs-light-rgb), .3) !important;
  border-left: 1px outset rgba(var(--bs-light-rgb), .2) !important;
  border-right: 1px outset rgba(var(--bs-light-rgb), .2) !important;
  border-bottom: 1px outset rgba(var(--bs-light-rgb), .1) !important;
}


.glass-popup {
  position: fixed;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  pointer-events: none;
  white-space: strict;
  color: var(--bs-secondary);
  font-style: normal;
  font-family: var(--f-mono);
  min-width: 6ch;
  max-width: 38ch;
  padding: .25em .5em;
  border-radius: 12px;
  background-color: rgba(var(--bs-dark-rgb), .4);
  backdrop-filter: blur(10px);
  border-top: 1px outset rgba(var(--bs-light-rgb), .3) !important;
  border-left: 1px outset rgba(var(--bs-light-rgb), .2) !important;
  border-right: 1px outset rgba(var(--bs-light-rgb), .2) !important;
  border-bottom: 1px outset rgba(var(--bs-light-rgb), .1) !important;
  z-index: 999999;
  transition: all .1s cubic-bezier(0.175, 0.885, 0.32, 1.2);

  &.show {
    opacity: 1;
    transform: scale(1);
  }
}



// .glass-popup:hover::after {
//   transform: scale(1) translate(-50%, -50%);
//   transition: all .1s .35s ease;
// }

// Normal map aesthetic classes
.bg-normal-grad {
  background: $normal-grad;
}

.text-normal-grad {
  background: $normal-grad;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn-normal-grad {
  background: $normal-grad;
  background-size: 160% 160%;
  border: 0;
  background-position: left;
  color: $normal-shadow;
  font-weight: 600;
  --bs-border-color: rgba($normal-z, .4);
  transition: background-position .3s ease, box-shadow .3s ease;

  &:hover {
    background-position: right;
    color: var(--bs-light);
  }
}

.form-range::-webkit-slider-thumb {
  background-color: var(--bs-normal);
  border-color: var(--bs-normal);
}

.form-check-input:checked {
  background-color: var(--bs-normal);
  border-color: var(--bs-normal);
}

.side-window {
  width: 0;
  transition: all .2s ease;

  &.open {
    width: clamp(380px, 40dvw, 820px);
    border-left: 1px solid var(--bs-primary);
  }
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .side-window {
    left: 100dvw;
    width: 100dvw;
    height: calc(100dvh - 67px);
    position: fixed;

    &.open {
      left: 0;
      width: 100dvw;
    }
  }
}