@import '_main.scss';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

button {
  background-color: unset;
  border: unset;

  &:hover {
    background-color: rgba(var(--bs-primary-rgb), .2);
  }
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.glass-pane {
  background-color: rgba(var(--bs-body-bg-rgb), .15);
  position: relative;

  &::before {
    backdrop-filter: blur(10px);
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    filter: url(#glass-distortion);
  }
}

.glass-pane.border {
  border: 1px outset rgba(var(--bs-light-rgb), .2)
}